@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #09090b;
}


/* Floating Animation */
@keyframes float {
    0%, 100% {
        transform: translateY(0px) rotate(12deg);
    }
    50% {
        transform: translateY(-20px) rotate(12deg);
    }
}

@keyframes float-reverse {
    0%, 100% {
        transform: translateY(0px) rotate(-12deg);
    }
    50% {
        transform: translateY(-20px) rotate(-12deg);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.animate-float.delay-500 {
    animation: float-reverse 8s ease-in-out infinite;
    animation-delay: 0.5s;
}

/* Pulse with delay */
.animate-pulse.delay-1000 {
    animation-delay: 1s;
}